################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/MainBase/.vs/MainBase/v16
/MainBase/MainBase/Debug
/MainBase/Debug
